---
import Layout from '../layouts/Layout.astro'
import Intro from '@/components/sections/Intro.astro'
import SobreMi from '@/components/sections/SobreMi.astro'
import Experiencia from '@/components/sections/Experiencia.astro'
import Educacion from '@/components/sections/Educacion.astro'
import Proyectos from '@/components/sections/Proyectos.astro'
import Herramientas from '@/components/sections/Herramientas.astro'
import Habilidades from '@/components/sections/Habilidades.astro'
import KeyboardManager from '@/components/KeyboardManager.astro'

import { basica } from '@cv'
const { nombre, descripcion } = basica
---

<Layout title={`Curriculum Vitae de ${nombre} - ${descripcion}`}>
    <main>
        <Intro />
        <SobreMi />
        <Habilidades />
        <Proyectos />
        <Herramientas />
        <!-- <Educacion /> -->
        <Experiencia />
    </main>
    <KeyboardManager />
</Layout>

<style>
    main {
        padding: 4rem;
        margin: auto;
        width: 100%;
    }

    @media (width <= 700px) {
        main {
            padding: 2rem;
        }
    }
</style>
